@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  --black: #202020;
  --grey: #424242;
  --white: #ffffff;

  --imdb: #F6C700;
  --yellow-star: #ffe079;

  --gap-movie: 1.65rem;
}

* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  color: var(--black);
  background-color: currentColor;
  overflow-x: hidden;
}

img,
button {
  user-select: none;
  -webkit-user-drag: none;
}

.btn-trailer {
  display: flex;
  cursor: pointer;

  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
  
  background-color: var(--white);
  color: var(--black);
  
  padding: 0.1rem 0.6rem;
  border-radius: 2px;
}

.btn-trailer svg {
  width: 16px;
  height: auto;
  stroke: var(--black);
}

.scroll-hidden::-webkit-scrollbar {
  appearance: none;
}
